button {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    width: 88px;
    height: 36px;
    border-radius: 6px;
    border: none;
    margin: 5px;
    background: #E0E0E0;
    box-shadow: -3px 5px 5px 0px #0000008d;
    &:hover, &:focus {
        background: #AEAEAE;
    }
}
button.outline {
    color: #bbc1e2;
    border: 1px solid #3D5AFE;
    background: transparent;
    &:hover, &:focus {
        background:#2962FF1A;
    }
}
button.text {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #bbc1e2;
    background: transparent;
    box-shadow: -3px 5px 5px 0px #0000008d;
    &:hover, &:focus {
        background: #2962FF1A;
    }
}
button.disableShadow {
    box-shadow: 0px 0px 0px 0px #33333300;
    border: none;
    background: #E0E0E0;
    &:hover, &:focus {
        background: #E0E0E0;
    }
}
button.disabled {
    color: #9E9E9E;
    background-color: #E0E0E0;
    outline: none;
    border: none;
    box-shadow: 0px 0px 0px 0px #33333300;
    &:hover, &:focus {
        background: #E0E0E0;
    }
}
button.textDisabled {
    color: #9E9E9E;
    background-color: #e0e0e000;
    outline: none;
    border: none;
    box-shadow: 0px 2px 3px 0px #33333300;
    &:hover, &:focus {
        background: #e0e0e000;
    }
}
button.iconLeft {
    align-items: center;
}
button.iconLeft  > .material-icons {
    color: white;
    float: left;
}
button.iconRight  > .material-icons {
    color: white;
    float: right;
}



/**  page styling below **/
.containCheckBoxChoices{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.checkboxInLine{
    grid-column: 1;
    justify-self: right;
    width: 15px;
}
.checkboxDescription{
    grid-column: 2 / 4;
}
.checkboxInLineRow2{
    width: 15px;
    justify-self: right;
    grid-column: 1;
    grid-row: 2;
}
.checkboxDescriptionRow2{
    grid-column: 2 / 4;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 15px;
}

.column-left {
    background: #cbcbcb;
    grid-column: 1;
}

.column-body {
    grid-column: 2;
    padding: 15px;
    color: white;
    background: rgb(88, 107, 106);
}
.devchallenges {
    font-family: Poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 19.5px;
    background: linear-gradient(to right, #F7542E, #090F31, #090F31, #090F31, #090F31, #090F31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 180px;
}
li{
    margin-bottom: 30px;
}